/tests/Makefile
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/output.0
/autom4te.cache/output.1
/autom4te.cache/requests
/autom4te.cache/traces.0
/autom4te.cache/traces.1
/avrecord2_2.0.1-1_i386.deb
/avrecord2_2.0.2-1_i386.deb
/avrecord2_2.0.3-1_i386.deb
/config.h
/config.h.in
/config.log
/config.status
/configure
/doc/Makefile
/po/Makefile
/src/Makefile
/src/avrtuner/Makefile
/src/avrtuner/avrtuner
/src/avrtuner/avrtuner-avrtuner_main.o
/src/avrtuner/avrtuner-avrtunerwindow.o
/src/avrtuner/avrtuner-videomonitor.o
/src/init.d/Makefile
/src/libavtools/Makefile
/src/libavtools/avconfig.lo
/src/libavtools/avconfig.o
/src/libavtools/avifile.lo
/src/libavtools/avifile.o
/src/libavtools/buffer-ring.lo
/src/libavtools/buffer-ring.o
/src/libavtools/img_tools.lo
/src/libavtools/img_tools.o
/src/libavtools/jpegconverter.lo
/src/libavtools/jpegconverter.o
/src/libavtools/libavtools.la
/src/libavtools/sndstream.lo
/src/libavtools/sndstream.o
/src/libavtools/vidstream.lo
/src/libavtools/vidstream.o
/stamp-h1
