Makefile
Makefile.in
/aclocal.m4
/autom4te.cache/output.0
/autom4te.cache/output.1
/autom4te.cache/requests
/autom4te.cache/traces.0
/autom4te.cache/traces.1
*.deb
/config.h
/config.h.in
/config.log
/config.status
/configure
/src/avrtuner/avrtuner
*.o
*.lo
*.la
/stamp-h1
*.*~
*.avi
*.swp
