[Desktop Entry]
Comment=AVRecord configuration tuning tool
Comment[en_US]=AVRecord configuration tuning tool
Encoding=UTF-8
Exec=avrtuner
GenericName=AVRTuner
GenericName[en_US]=AVRTuner
Icon=hi64-avrtuner-icon
Name=AVRTuner
Name[en_US]=AVRTuner
StartupNotify=true
Terminal=false
Type=Application
Version=2.0.0
Categories=Application;AudioVideo;
