###############################################
#         avrecord configuration file         #
###############################################

#defines path and name for logfile
log_file = /etc/avrecord/avrecord.log

#defines name template for output movies
filename = movie-%Y-%m-%d_%H-%M.avi

#defines output directory were generated movies will be saved
output_dir = /home/storage/simon/motion-output/

detect_motion = yes
record_on_motion = yes
print_diffs = yes
print_date = yes

start_time = 23.05.2006-07:30:00
end_time = 24.05.2006-09:30:00
schedule =

min_gap = 300
min_record_time = 30
post_motion_offset = 30;

noise_level = 2
threshold = 25
noise_reduction_level = 1

video_codec = msmpeg4
input_source = 1
input_mode = 3
width = 512
height = 384
frame_rate = 20
vid_bitrate = 700000
var_bitrate = 2
auto_frate = yes

audio_codec = mp3 #pcm_s16le
sample_rate = 44100
aud_bitrate = 96000
channels = 1
amplification_level = 20